.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
body{
    background: rgba(0,0,0,.02) !important;
}

.right-col{
    margin-top: 10px;
    margin-left: 20px;
}
.navi-bar{
    position: relative;
    left: -14% !important;
    top: -10px !important;
    width: 116% !important;
    background: #fff !important;
}