// Place all the styles related to the meeting controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.select-datetime{
margin-top: 10px;
}
.select_quantity{
    margin-top: 10px;
}
.quantity_tag{
    border: 1px solid #444 !important;
    width: 50%;
    
}
.location-for-user{
    width: 50%;
    margin-top: 10px;
    border: 1px solid #f4f4f4 !important;
    padding: 10px;
    list-style-type: none;
}
.one{
    border: 1px solid;
    padding: 9px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
}
.two{
    border: 1px solid;
    padding: 9px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.time-border{
    padding: 0px !important;
}
.one:hover{
    background: #44a1c2
}
.two:hover{
    background: #44a1c2
}
.highlight{
    background: #44a1c2
}
#taken{
    border: 1px solid;
    padding: 11px;
    background: gray;
}
#empty{
    border: 1px solid;
    padding: 11px;
    background: white;
}
#selected{
    border: 1px solid;
    padding: 11px;
    background: #44a1c2;
}
.slots-avilable{
    padding: 10px;
}
.start_at_time{
    padding: 6px;
    border: 1px solid #abaeb2;
    width: 50%;
    color: #e2e2e2;
    border-radius: 5px;
}
.start_at{
    margin-top: 20px;
}
.duration{   
    margin-top: 20px;
}
.duration_meeting{
    width: 50%;
    border: 1px solid #abaeb2 !important;
}

.select_seats_meeting{
    width: 50%;
    height: 35px;
}
.left-col{
    height: 100%;
    width: 116px;
    position: fixed;
    background: #444;
    z-index: 1;
    top: 0px;
    left: 0px;
    overflow: hidden;
    padding-top: 20px;
    ul,li { list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0; }
}
#datetimepicker1{
    width: 50% !important;
}
@media only screen and (max-width: 768px) {
    #datetimepicker1{
        width: 100% !important;
    }
    .select_seats_meeting{
        width: 100% !important;
    }
}
@media only screen and (max-width: 768px) {
    #datetimepicker1{
        width: 100% !important;
    }
    .select_seats_meeting{
        width: 100% !important;
    }
    .dropdown{
    }
    .user-name{
        display: none;
    }
}
@media only screen and (max-width: 712px) {
    .right-col{
        padding-left: 40px;
    }
    #time_meeting{
        width: 100% !important;
    }
    .start_at_time{
        width: 100% !important;
    }
    .duration_meeting{
        width: 100% !important;
    }
    .submit_booking{
        width: 100% !important;
    }
    
}
// .menu-coloum{
//         text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
//         background: linear-gradient(#262626, #262622),#2A3F54;
//         box-shadow: rgba(0,0,0,0.25) 0 1px 0, inset rgba(255,255,255,0.16) 0 1px 0;
    
// }
.select_item{
    position: relative;
    padding: 10px !important;
    border-right: 5px solid #44a1c2;
    text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
    background: linear-gradient(#262626, #262622),#2A3F54;
    box-shadow: rgba(0,0,0,0.25) 0 1px 0, inset rgba(255,255,255,0.16) 0 1px 0;
    z-index: 9999;
    left: -7px;
    width: 106%;
}
a:hover{
    color: #ffffff !important;
    text-decoration: none;
}
.menu-coloum{
    color: white;
    margin-left: 10px;
    text-decoration: inherit !important;
}
.menu{
    margin-top: 50px;
    margin-left: 7px;
}
.disable_table{
    pointer-events: none;
    background: gray;
}
.submit_booking{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 6px;
    background: #44a1c2;
    border: 1px solid #44a1c2;
    color: #fff !important;
    border-radius: 4px;
}
.location-button{
    border:2px solid #44a1c2 !important;
    border-radius: 17px !important;
    padding: 8px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    position: relative;
    top: 8px;
}
.location{
    list-style-type: none;
}
.locations_name{
    color: #444 !important;
}
a:hover{
    color: #444 !important;

}
.border{
    border: 1px solid #444;
    padding: 10px;
}
.base-cell{
    padding: 0px !important;
}
.border:hover{
    background: #44a1c2;
}
.time-slots{
    border: 1px solid #444;
    padding: 11px;
    padding-left: 0px !important;
}
.time-slots:hover{
    background: #44a1c2;
}
.marker{
    color: #44a1c2;
    margin-left: 23px;
}
.icon-user{
    position: relative;
    top: 6px;
}
.current-user-name{
    padding: 8px;
    float: right;
}
.menu-nav-bar{
    float: right;
    width: 88%;
}
#error{  border: 1px solid #ed5a5a;
padding: 4px;
background: #ed5a5a;
border-radius: 6px;
color: #facdcd;
}
li .menu-coloum:hover{
    color: #fff !important;
}
.list{
    margin-top: 20px !important;
}
.nevi-bar{
background: #fff;
}
.current-user-name{
color: #444;
}
.current-user-name:hover{
    color: #444 !important;
}
div#pop-up {
    display: none;
    position: absolute;
    width: 280px;
    padding: 10px;
    background: #eeeeee;
    color: #000000;
    border: 1px solid #1a1a1a;
    font-size: 90%;
  }
@media only screen and (max-width: 360px) {

    .left-col {
        height: 100%;
        width: 99px !important;
        position: fixed;
        background: #444;
        z-index: 1;
        top: 0px;
        left: 0px;
        overflow: hidden;
        padding-top: 20px;
    }
    .right-col {
        padding-left: 23px !important;
    }
    .location-button{
        background: #fff !important;
    }
}
@media only screen and (max-device-width: 732px) {
    
        .left-col {
            height: 100%;
            width: 99px !important;
            position: fixed;
            background: #444;
            z-index: 1;
            top: 0px;
            left: 0px;
            overflow: hidden;
            padding-top: 20px;
        }
        .right-col {
            padding-left: 23px !important;
        }
        .location-button{
            background: #fff !important;
        }
        .login-details{
            padding: 7px !important;
        }
    }