// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-box{    padding: 4px;
width: 100%;
border: 1px solid #44a1c2;
border-radius: 5px;
margin-top: 2px;
margin-bottom: 20px;
}
.profile-submit
    {
        padding: 4px;
        padding-left: 20px;
        padding-right: 21px;
        border: 1px solid #44a1c2;
        background: #44a1c2;
        color: #fff;
        border-radius: 4px;
    }
.error-message{
    border: 1px solid #ed5a5a;
    text-align: center;
    background: #ed5a5a;
    margin-top: 4px;
    color: #facdcd;
    border-radius: 10px;
    display: none;
}
.logout-button{
    float: right;
    position: relative;
    right: 23px;
    top: 10px;
}
#updatePassword{
    width: 100%;
}
.goToPassword{
    margin-top: 10px;
}
#updatePasswordButton{
    width: 100%;
}
.backtoProfile{
    margin-top: 10px;
}